// Colors
$color-bg: #F2F2F2;
$color-accent: #A6192E;
$color-gray-mid: #777777;

$color-white: #FFFFFF;
$color-red: #DB4437;
$color-yellow: #E2B534;
$color-blue: #4285F4;

// Fonts
$font-family: 'Rubik', sans-serif; 