// Colors
$color-bg: #F2F2F2;
$color-bg-dark: #F9F9F9;
$color-accent: #A6192E;
$color-text-gray-main: #828282;

$color-gray-new: #C0C0C0;
$color-gray-mid: #777777;
$color-gray-dark: #5B5B5B;

$color-white: #FFFFFF;
$color-red: #DB4437;
$color-yellow: #E2B534;
$color-blue: #4285F4;

// Fonts
$font-family: 'Rubik', sans-serif; 
