@use "reset";
@use "variables" as *;

body {
    line-height: 1.4;
    font-family: $font-family;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

.App {
    min-width: 1000px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: rgba($color: $color-dark, $alpha: 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba($color: $color-gray-new, $alpha: 0.4)
}

::-webkit-scrollbar-thumb:hover {
    background:rgba($color: $color-gray-mid, $alpha: 0.4)
}
